#hero {
    background-image: url(../assets/images/ocean.jpg);
    background-position: center;
    background-size: cover;
    height: 800px;
}

#hero-box {
    width: 900px;
    background-color: rgba(51, 47, 47, 0.8);
    box-shadow: 2px 4px 8px rgb(68, 067, 67);
    border-radius: 8px;
    margin-top: 50px;
    margin: auto;
    text-align: center;
    padding: 50px 0;
}